@model GroupSpace23.Models.Project
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = @_localizer["Details"];
}

<h1>@_localizer["Details"]</h1>

<div>
    <h4>@_localizer["Project"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Started)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ended)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ended)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartedBy.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartedBy.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@_localizer["Wijzigen"]</a> |
    <a asp-action="Index">@_localizer["Terug naar overzicht"]</a>
</div>
