@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4"> @_localizer["TitleHome"]</h5> 
    <h6>@_localizer["text1"].<h6> 
    <h6> @_localizer["text2"] <h6>
    <h6>@_localizer["text3"] </h6>
    <h6>@_localizer["text4"]</h6>

</div>
