@model GroupSpace23.Models.AbonnementModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Nieuw abonnement toevoegen"];
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Abonnement" class="control-label"></label>
                <select asp-for="Abonnement" class="form-control">
                    <option value="">@_localizer["Kies een abonnement"]</option>
                    <option value="Standaard Abonnement">@_localizer["Standaard Abonnement"]</option>
                    <option value="Premium Abonnement">@_localizer["Premium Abonnement"]</option>
                    <option value="Deluxe Abonnement">@_localizer["Deluxe Abonnement"]</option>
                </select>
                <span asp-validation-for="Abonnement" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="@_localizer["Bestellen"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@_localizer["Terug naar overzicht"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
