@model IEnumerable<GroupSpace23.Models.AbonnementModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Abonnementen";
}

<h1>@_localizer["Abonnementen"]</h1>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Abonnement)</th>
            <th> @Html.DisplayNameFor(model => model.Prijs)</th>
            <th> @Html.DisplayNameFor(model => model.Details)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@_localizer["Standaard Abonnement"]</td>
            <td>@_localizer["€30 per jaar"]</td>
            <td>@_localizer["Leveranciers informatie"]</td>
        </tr>
        <tr>
            <td>@_localizer["Premium Abonnement"]</td>
            <td>@_localizer["€199 per jaar"]</td>
            <td>@_localizer["1x per maand coaching"]</td>
        </tr>
        <tr>
            <td>@_localizer["Deluxe Abonnement"]</td>
            <td>@_localizer["€499 per jaar"]</td>
            <td>@_localizer["Op maat gemaakte website, relaties en onderhandelingen met leveranciers"]</td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-action="Create">@_localizer["Nieuw abonnement toevoegen"]</a>
</div>
